
  .container {
    display: flex;
  }
  
  .view1 {
    width: 20%;
    margin: 10px;
    /* border: 1px solid #ccc; */
    padding: 10px;
  }
  
  .view2 {
    width: 80%;
    margin: 10px;
    /* border: 1px solid #ccc; */
    padding: 10px;
  }

  