.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  mat-card {
    width: 100%;
    max-width: 400px;
  }

  /* styles.css */
.canvasjs-chart-credit {
    display: none !important;
  }