

<div class="container">
  <mat-card class="sidebar">
    <mat-action-list>
      <div mat-subheader>Menu</div>
      <button mat-list-item (click)="navigateToBuilding()">
        <mat-icon mat-list-icon>home</mat-icon> View Buildings
      </button>
      <button mat-list-item routerLink='/reports'>
        <mat-icon mat-list-icon>playlist_add</mat-icon> Reports
      </button>
      <button mat-list-item (click)="navigateToEmployeeTracker()">
        <mat-icon mat-list-icon>supervisor_account</mat-icon> Employee Tracker
      </button>
    </mat-action-list>
  </mat-card>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>